<nav class="navbar navbar-expand-sm bg-secondary text-black navbar-dark">
  <div class="container">
    <ul class="navbar-nav">
      <li class="navbar-text text-info"> AMSR CURATED </li> 
      <% if(currentUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Add Video</a>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
      <li class="nav-item">
        <form class="nav-link" action="/sessions?_method=DELETE" method="POST">
          <a class="nav-link" href="#" onclick="this.parentNode.submit()">Log out</a>
        </form>
      </li>
      </ul>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new">Register</a>
      </li>
      </ul>
      <ul class ="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/sessions/new">Login</a>
      </li>
    </ul>
      <% } %>
    
    
  </div>
</nav>
