<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>New VIDEO</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container py-4">
      <form action="/videos" method="POST">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <br />
          <input
            class="col-md-12"
            type="text"
            id="title"
            name="title"
          /><br /><br />
        </div>

        <div class="mb-3">
          <label class="form-label" for="url">Video URL</label>
          <br />
          <input class="col-md-12" type="text" id="url" name="url" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="tags">Tags</label>
          <br />
          <input class="col-md-12" type="text" id="tags" name="tags" />
        </div>

        <div class="d-grid">
          <button class="btn submit-btn btn-lg col-md-12" type="submit" name="">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
