.card {
  background-color: #c1cfb8 !important;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10px;
}

body {
  background-color: #738265 !important;
}

.submit-btn {
  background-color: #e8fad7 !important;
  color: #738265 !important;
}

.navbar {
  background-color: #bfbe7e;
}

.navbar a {
  color: #738265 !important;
}

.video-title-btn {
  background-color: #e8fad7 !important;
}
