<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>REGISTER</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container py-4">
      <form id="login-form" class="form" action="/users" method="POST">
        <div class="mb-3">
          <label class="form-label" for="email">Email:</label>
          <input
            class="col-md-12"
            type="email"
            name="email"
            id="email"
          /><br /><br />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password:</label><br />
          <input
            class="col-md-12"
            type="password"
            name="password"
            id="password"
          />
        </div>

        <div class="d-grid">
          <button
            class="btn btn-primary btn-lg col-md-12"
            type="submit"
            name=""
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
