<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>REGISTER</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div id="login">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div class="container">
          <div
            id="login-row"
            class="row justify-content-center align-items-center"
          >
            <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                <form
                  id="login-form"
                  class="form"
                  action="/users"
                  method="POST"
                >
                  <h3 class="text-center text-info">Register</h3>
                  <div class="form-group">
                    <label class="text-info" for="email">Email:</label>
                    <input
                      class="form-control"
                      type="email"
                      name="email"
                      id="email"
                    />
                  </div>
                  <div class="form-group">
                    <label class="text-info" for="password">Password:</label>
                    <input
                      class="form-control"
                      type="password"
                      name="password"
                      id="password"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="btn btn-info btn-md"
                      type="submit"
                      value="Register"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
